.portfolio-container {
    height: 100%;
    width: 80%;

    position: relative;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}


.portfolio-container h4 {
    /*align-self: flex-start;*/
    display: block;
    text-align: center;
    font-size: x-large;
    color: gold;
    margin-bottom: 0px;
}

.portfolio-container .project-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 10px 0px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(70, 68, 68);
    border-radius: 30px;
    margin-bottom: 30px;
}

.portfolio-image {
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 15px;
}

.portfolio-image img {
    width: 100%;
    object-fit: cover;
    transform: translateY(0);
    transition: transform 2s ease-out;
    cursor: pointer;
}

.portfolio-image:hover img {
    object-fit: cover;
    transform: translateY(calc(-100% + 400px));
    
}

.about-project {
    flex-basis: 30%;
    flex-shrink: 0;
    flex-grow: 0;
}

.about-project h3 {
    margin-top: 0;
    text-align: center;
}

.about-project p {
    margin-bottom: 20px;
}

.project-links {
    display: flex;
    justify-content: space-evenly;
}

.list {
    display: flex;
    gap: 8px;
    padding: 16px;
  
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    /* Hide scrollbar in Firefox */
  scrollbar-width: none;

  /* Hide scrollbar in IE and Edge */
  -ms-overflow-style: none;
  }

  .list::-webkit-scrollbar {
    display: none;
  }
  
  .item {
    flex-shrink: 0;
    width: 100%;
    
  
    scroll-snap-align: center;
  }

  .list-wrapper {
    position: relative;
  }
  
  .button {
    position: absolute;
    top: 50%;
  
    width: 4rem;
    height: 4rem;
  
    transform: translateY(-50%);

    background-color: gold;
    border: none;
    border-radius: 50%;
    transition: 200ms;
  }

  .button:hover {
    opacity: 0.1;
    cursor: pointer;
  }
  
  .button--previous {
    left: 1.5rem;  
  }
  
  .button--next {
    right: 1.5rem;
  }
  
  