.portfolio-container {
    height: 100%;
    width: 80%;

    position: relative;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}


.portfolio-container h4 {
    display: block;
    text-align: center;
    font-size: x-large;
    color: gold;
    margin-bottom: 0px;
    margin-top: 0px;
}

.portfolio-container .project-container {
    display: flex;
    height: 400px;
    justify-content: space-around;
    flex-direction: row;
    padding: 10px 0px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(70, 68, 68);
    border-radius: 30px;
    width: 100%;
    margin: 10px 0px;
    overflow-y: hidden;
}

.portfolio-image {
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 15px;
}

.portfolio-image img {
    width: 100%;
    object-fit: cover;
    transform: translateY(0);
    transition: transform 2s ease-out;
    cursor: pointer;
}

.portfolio-image:hover .scrollable {
    object-fit: cover;
    transform: translateY(calc(-100% + 400px));  
}

.about-project {
    flex-basis: 30%;
    flex-shrink: 0;
    flex-grow: 0;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(70, 68, 68);
    color: white;
    text-align: center;
    margin: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(70, 68, 68);
}


.about-project h3 {
    margin-top: 0;
    text-align: center;
}

.about-project div {
    margin-bottom: 20px;
    height: 60%;
    overflow: hidden;
}
.about-project p {
    height: 100%;
    transform: translateY(0);
    transition: transform 3s ease-out;
    cursor: pointer;
}

.about-project > div:hover .scrollable {
  transform: translateY(calc(-20% - 20px));
}

.project-links {
    display: flex;
    max-height: fit-content;
    justify-content: space-evenly;
    margin-top: 20px;
}

.list {
    display: flex;
    gap: 8px;
    padding: 16px;
  
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;  
    scrollbar-color: #888 #000000;
    scrollbar-width: thin;
  }

  .list::-webkit-scrollbar {
    width: thin;
    height: thin;
    color: #000;
  }

  .item {
    flex-shrink: 0;
    width: 100%;
    
  
    scroll-snap-align: center;
  }

  .list-wrapper {
    position: relative;
  }
  
  /*center next and previous buttons vertically*/

  .button {
    position: absolute;
    top: 50%;
  
    width: 4rem;
    height: 4rem;
  
    transform: translateY(-50%);

    background-color: transparent;
    border: none;
    transition: 200ms;
    opacity: 0.8;
  }

  .button:hover {
    opacity: 0.1;
    cursor: pointer;
  }

  .button--previous {
    left: 1.5rem;
    transform: rotate(180deg);
  }
  
  .button--next {
    right: 1.5rem;
  }
  
  